body {
    height: 100%;
}
/*Panel with filters and buttons*/
.option-panel {
    margin: 10px 0px;
}

/*Background image Homepage*/
.bg-img {
    background-image: url(https://i.imgur.com/lFnh2xG.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*Content home page*/
.bg-content {
    background-color: rgb(0,0,0, 0.5);
    color: white;
    border-radius: 10px;
}

/*Navbar*/
.navbar {
    background-color: #a62632;
}

.dropdown-content li>a {
    color: #a62632;
}

/*Footer*/
.page-footer {
    background-color: #a62632;
}

/*Button*/
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-flat {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Products page*/
.card.medium .card-image {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.card .card-image img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.card.medium .card-content {
    padding: 15px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #26a69a;
}

/*Description page*/

.description-container {
    margin-top: 35px;
    margin-bottom: 35px;
}

.description-img {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*Edit product*/

.add-product {
    margin-top: 20px; 
}

.edit-product {
    margin-top: 20px;
}

/*Edit brand*/

.add-brand {
    margin-top: 20px;
}

.edit-brand {
    margin-top: 20px;
}