/*Background image Homepage*/
.bg-img {
    background-image: url(https://i.imgur.com/lFnh2xG.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*Content home page*/
.bg-content {
    background-color: rgb(0,0,0, 0.5);
    color: white;
    border-radius: 10px;
}

/*Navbar*/
.navbar {
    background-color: #a62632;
}

/*Footer*/
.page-footer {
    background-color: #a62632;
}

/*Button*/
.btn {
    margin-bottom: 20px;
}

/*Cards*/
.card {
    
    margin: 25px 0px 25px 0px;
}

.card .card-content {
    padding: 12px;
}