{% extends 'base.html' %}
{% block content %}
    <h3>Add Product</h3>
        <div class="row">
            <form action="{{url_for('insert_product')}}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <select id="brand_name" name="brand_name">
                            <option value="" disabled selected>Choose Brand</option>
                            {% for brand in brands %}
                                <option value={{brand.name}}>{{brand.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Brand</label>
                    </div>    
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <select id="type_name" name="type_name">
                            <option value="" disabled selected>Choose Type</option>
                            {% for type in types %}
                                <option value="{{type.name}}">{{type.name}}</option>
                            {% endfor %}
                        </select>
                        <label>Type</label>
                    </div>    
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="image_url" name="image_url" type="text" class="validate">
                        <label for="icon_prefix">Image URL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="about" name="about" type="text" class="validate">
                        <label for="icon_prefix">About Beer</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="abv" name="abv" type="text" class="validate">
                        <label for="icon_prefix">Alcohol Percentage</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="amount" name="amount" type="text" class="validate">
                        <label for="icon_prefix">Amount</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="instruction" name="instruction" type="text" class="validate">
                        <label for="icon_prefix">Instruction URL</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p>
                            <input type="checkbox" id="gluten" name="gluten"/>
                            <label for="gluten">Gluten Free</label>
                        </p>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Add Product
                    <i class="material-icons right">playlist_add</i>
                </button>
            </form>
        </div>
{% endblock %}