{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <ul class="collapsible" data-collapsible="accordion">
            {% for brand in brands %}
            <li>
                <div class="collapsible-header">{{brand.name}}</div>
                <div class="collapsible-body">
                    <ul>
                        <li>Country: {{brand.country}}</li>
                        <li>Website: {{brand.website_URL}}</li>
                        <li>Instruction: {{brand.instruction_URL}}</li>
                    </ul>
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn" href="{{url_for('edit_brand', brand_id=brand._id)}}">Edit
                                <i class="material-icons right">edit</i>
                            </a>        
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}