{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <ul class="collapsible" data-collapsible="accordion">
            {% for brand in brands %}
            <li>
                <div class="collapsible-header"><i class="material-icons"></i>{{brand.name}}</div>
                <div class="collapsible-body">
                    <ul>
                        <li>Country: {{brand.country}}</li>
                        <li>Website: {{brand.website_URL}}</li>
                        <li>Instruction: {{brand.instruction_URL}}</li>
                    </ul>
                    <div class="row">
                        <a class="waves-effect waves-light btn" href="{{url_for('edit_brand', brand_id=brand._id)}}">Edit</a>
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Delete</a>
                    </div>
                </div>
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Are you agree to delete {{brand.name}}?</h4>
                        <p>It will imposible to restore the data.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Go Back</a>
                        <a href="{{url_for('delete_brand', brand_id=brand._id)}}" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}