{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3>Edit Brand</h3>
        <form action="{{url_for('update_brand', brand_id=brand._id)}}" method="POST" class="edit_brand col s12">
            <div class="row">
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">create</i>
                    <input id="name" name="name" type="text" class="validate" value="{{brand.name}}">
                    <label for="icon_prefix">Brand Name</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">create</i>
                    <input id="country" name="country" type="text" class="validate" value={{brand.country}}>
                    <label for="icon_prefix">Country</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">insert_photo</i>
                    <input id="website_URL" name="website_URL" type="text" class="validate" value={{brand.website_URL}}>
                    <label for="icon_prefix">Website URL</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">insert_photo</i>
                    <input id="instruction_URL" name="instruction_URL" type="text" class="validate" value="{{brand.instruction_URL}}">
                    <label for="icon_prefix">Instruction URL</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit">Apply
                        <i class="material-icons right">check</i>
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col s12">
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Cancel
                    <i class="material-icons right">clear</i> 
                </a>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Delete
                    <i class="material-icons right">remove</i> 
                </a>
            </div>
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Are you agree to cancel?</h4>
                    <p>All changes will be lost.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Go Back</a>
                    <a href="{{url_for('get_brands')}}" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
        </div>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Are you agree to delete {{brand.name}}?</h4>
                <p>It will be impossible to restore the data.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Go Back</a>
                <a href="{{url_for('delete_brand', brand_id=brand._id)}}" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
    </div>    
{% endblock %}