{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3>Edit Product</h3>
        <div class="row">
            <form action="{{url_for('update_product', product_id=product._id)}}" method="POST" class="edit_product col s12">
                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">create</i>
                        <input id="name" name="name" type="text" class="validate" value="{{product.name}}">
                        <label for="icon_prefix">Product Name</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">view_headline</i>
                        <select id="brand_name" name="brand_name">
                            <option value="" disabled selected>Choose Brand</option>
                            {% for brand in brands %}
                                {% if brand.name == product.brand_name %}
                                    <option value={{brand.name}} selected >{{brand.name}}</option>
                                {% else %}
                                    <option value={{brand.name}}>{{brand.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label>Brand</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">insert_photo</i>
                        <input id="image_url" name="image_url" type="text" class="validate" value="{{product.image_url}}">
                        <label for="icon_prefix">Image URL</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">view_headline</i>
                        <select id="type_name" name="type_name">
                            <option value="" disabled selected>Choose Type</option>
                            {% for type in types %}
                                {% if type.name == product.type_name %}
                                    <option value="{{type.name}}" selected >{{type.name}}</option>
                                {% else %}
                                    <option value="{{type.name}}">{{type.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label>Type</label>
                    </div>    
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">border_color</i>
                        <input id="about" name="about" type="text" class="validate" value="{{product.about}}">
                        <label for="icon_prefix">About Beer</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">build</i>
                        <input id="instruction" name="instruction" type="text" class="validate" value="{{product.instruction}}">
                        <label for="icon_prefix">Instruction URL</label>
                    </div>
                    <div class="input-field col s12 l2">
                        <i class="material-icons prefix">warning</i>
                        <input id="abv" name="abv" type="text" class="validate" value="{{product.abv}}">
                        <label for="icon_prefix">Alcohol(5.4%)</label>
                    </div>
                    <div class="input-field col s12 l2">
                        <i class="material-icons prefix">local_bar</i>
                        <input id="amount" name="amount" type="text" class="validate" value="{{product.amount}}">
                        <label for="icon_prefix">Amount(23 Liters)</label>
                    </div>
                    <div class="checkbox col s12 l2">
                        {% if product.gluten %}
                            <input type="checkbox" id="gluten" name="gluten" checked />
                        {% else %}
                            <input type="checkbox" id="gluten" name="gluten" />
                        {% endif %}
                        <label for="gluten">Gluten Free</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light" type="submit">Apply
                            <i class="material-icons right">playlist_add</i>
                        </button>    
                    </div>
                </div>
            </form>
        </div>    
    </div>
{% endblock %}