{% extends 'base.html' %}
{% block content %}
    <main class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col s12 l8 offset-l2 bg-content">
                    <h2 class="center-align">Start to make beer at home</h2>
                    <p class="center-align">
                        Here you can find "easy to make" beer sets from around the 
                        world and reviews to them. If you didn't find one, you can 
                        easily add it!
                    </p>
                    <p class="center-align">
                        <a class="waves-effect waves-light btn" href="{{url_for('insert_products')}}">Find your beer set
                            <i class="material-icons right">search</i> 
                        </a>
                    </p>
                </div>
            </div>
        </div>    
    </main>
{% endblock %}

