{% extends 'base.html' %}
{% block content %}
    <main class="bg-img">
        <div class="container">
            <div class="row bg-content">
                <div class="col s12">
                    <h1 class="center-align">Start to make a beer</h1>
                </div>
                <div class="col s12 l6">
                    <p>
                        Making your own beer at home now easier than ever. You don't 
                        need to buy expensive equipment and spend hours to get amazing 
                        beer. Here is some facts:
                    </p>
                    <ol>
                        <li>Cheaper to make than to buy</li>
                        <li>Minimum investments in equipment</li>
                        <li>Perfect for beginners</li>
                        <li>Easy to make(instruction)</li>
                    </ol>
                </div>
                <div class="col s12 l6">
                    <h4 class="center-align">For beginning</h4>
                    <p class="center-align">
                        <a class="waves-effect waves-light btn" href="{{url_for('get_products')}}">Find your beer
                            <i class="material-icons right">search</i> 
                        </a>
                    </p>
                </div>
            </div>
        </div>    
    </main>
    
{% endblock %}