{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h3>Products</h3>
            </div>
            <div class="col s12 m6">
                <a class="waves-effect waves-light btn right insert-btn" href="{{url_for('add_product')}}">Insert Product</a>   
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3">
                <!-- Dropdown Trigger -->
                <a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown
                    <i class="material-icons left">arrow_drop_down</i>
                </a>
                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                    {% for type in types %}
                    <li><a href="{{url_for('get_types', type_id=type._id)}}">{{type.name}}</a></li>
                    {% endfor %}
                </ul>    
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="card medium col s12 m6 l3">
                <div class="card-image waves-effect waves-block waves-light">
                     <img class="product-img" src="{{product.image_url}}">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">{{product.name}}</span>
                </div>
                <div class="card-action">
                    <a class="right" href="{{url_for('get_description', product_id=product._id)}}">read more</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}